@{
    ViewData["Title"] = "Home Page";
}

<style>
    * {
        margin: 0;
        padding: 0;
    }

    .imgbox {
        display: grid;
        height: 100%;
    }

    .center-fit {
        max-width: 100%;
        max-height: 100vh;
        margin: auto;
    }
</style>

<div class="text-center">

    <h1 class="display-4">START YOUR FITNESS JOURNEY NOW</h1>
    <p>Get motivated like never before.</p>
    <img class="center-fit" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/make-time-for-it-royalty-free-image-840886802-1538426941.jpg" alt="" width="2400" height="1600" />
</div>
