@{
    ViewData["Title"] = "About Us";
}
<style>
    * {
        margin: 0;
        padding: 0;
    }

    .imgbox {
        display: grid;
        height: 100%;
    }

    .center-fit {
        max-width: 100%;
        max-height: 100vh;
        margin: auto;
    }
</style>

<h1 style="text-align: center;">We are FitnessLFG</h1>
<p style="text-align: center;">Designed to combat lack of motivation, t<span class="JsGRdQ">his app is a medium for these people to meet each other, form groups, and run on schedules, all while following a curated set of rules to avoid the spread or breakthrough of the virus.</span>&nbsp;</p>
<img class="center-fit" src="https://media-cldnry.s-nbcnews.com/image/upload/newscms/2017_36/2144546/170905-working-out-group-ac-512p.jpg" alt="" width="2400" height="1600" />
<p style="text-align: center;">&nbsp;</p>
<h2 style="text-align: center;">Creators:</h2>
<p style="text-align: center;">Fronda, John May &emsp; Noel, Juan Samuel &emsp; Vicente, Eucarlo Miguel</p>