@model FitnessLFG.Models.ContactTrace

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ContactTrace</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactNum" class="control-label"></label>
                <input asp-for="ContactNum" class="form-control" />
                <span asp-validation-for="ContactNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VaccineCenter" class="control-label"></label>
                <input asp-for="VaccineCenter" class="form-control" />
                <span asp-validation-for="VaccineCenter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doses" class="control-label"></label>
                <select asp-for="Doses" class="form-control" asp-items="Html.GetEnumSelectList<AmountofDoses>()"></select>
                <span asp-validation-for="Doses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SickContact" class="control-label"></label>
                <select asp-for="SickContact" class="form-control" asp-items="Html.GetEnumSelectList<ContactAnySick>()"></select>
                <span asp-validation-for="SickContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Symptoms" class="control-label"></label>
                <input asp-for="Symptoms" class="form-control" />
                <span asp-validation-for="Symptoms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
