@model FitnessLFG.Models.Crud

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Crud</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control" asp-items="Html.GetEnumSelectList<CrudType>()"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityCategory" class="control-label"></label>
                <input asp-for="ActivityCategory" class="form-control" />
                <span asp-validation-for="ActivityCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobileNumber" class="control-label"></label>
                <input asp-for="MobileNumber" class="form-control" />
                <span asp-validation-for="MobileNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Schedule" class="control-label"></label>
                <input asp-for="Schedule" class="form-control" />
                <span asp-validation-for="Schedule" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeetingPlace" class="control-label"></label>
                <input asp-for="MeetingPlace" class="form-control" />
                <span asp-validation-for="MeetingPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxNumberPeople" class="control-label"></label>
                <input asp-for="MaxNumberPeople" class="form-control" />
                <span asp-validation-for="MaxNumberPeople" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
